# PostgreSQL Connection
DATABASE_URL=postgresql://postgres:Salunke@123@localhost:5432/water_scheme_dashboard
PGUSER=postgres
PGHOST=localhost
PGPASSWORD=Salunke@123
PGDATABASE=water_scheme_dashboard
PGPORT=5432

# App Configuration
PORT=5000